@font-face {
    font-family: 'unifont';
    src: url('../ttf/unifont-medium_light.ttf') format('truetype');
}

@font-face {
    font-family: 'topaz';
    src: url('../ttf/TopazSemi.ttf') format('truetype');
}

body{
    background-color : black;
    color : white;
}

*{
    overflow : hidden;
    font-family:"topaz",Lucida,consolas,mono;
    font-size:16px;
    line-height:16px;
    margin:0;
    padding:0;
}

.layer {
    position : absolute;
}

.layer.red{
    color:#f00;
}

.layer.green{
    color:#0f0;
}

.layer.blue{
    color:#00f;
}

.layer.white{
    color:#fff;
}
